@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&family=Ms+Madi&display=swap');

body {
	background: rgb(255,255,255);
	background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 60%, rgba(255,231,243,1) 100%);
	color: #000;
	font: 15px/1.75em 'Merriweather Sans', sans-serif;
	margin: 0;
	padding: 0;
}

a, a:link { color: #1ba0b3; }

a:visited { color: #055966; }

a:hover { color: #26e2ff; }

a:active { color: #b32d6d; }

h1, h2, h3, h4 {
	color: #ff3499;
	font-family: 'Ms Madi', cursive;
	font-weight: normal;
	line-height: 1em;
	margin: 0.5em 0;
}

h1 {
	font-size: 4em;
	margin: 0.25em 0 0.5em 0;
}

h1 > span { white-space: nowrap; }

h1 img {
	position: relative;
	bottom: -0.05em;
	width: 0.7em;
	height: 0.7em;
}

h2 { font-size: 3.25em; }

img {
	border: 0;
	margin: 0;
	padding: 0;
}

div.container {
	background: url("images/mina-face.png") bottom 10px right 10px no-repeat;
	box-sizing: border-box;
	margin: 0;
	padding: 2em;
}

div.content {
	background: rgb(237,253,255);
	background: linear-gradient(180deg, rgba(237,253,255,1) 0%, rgba(237,253,255,0.8) 100%);
	border: 4px #fff solid;
	border-radius: 2.5em;
	box-shadow: 0 0 3em rgba(0, 0, 0, 0.3);
	margin: 0;
	padding: 2em;
}

div.floral {
	background-image: url("images/floral.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	display: none;
	float: right;
	margin-left: -4em;
	width: 15em;
	height: 15em;
	position: relative;
	top: -3.5em;
	right: -3.5em;
	transform: rotate(0.625turn);
}

ul.links > li {
	font-size: 1.15em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

dfn {
	color: #a54550;
	display: block;
	font-size: 0.75em;
	font-style: italic;
	text-align: center;
	text-decoration: underline dotted;
}

@media screen and (min-height: 48em) {
	body { min-height: 100vh; }

	div.container { height: 100vh; }

	div.content {
		margin: 0 auto;
		max-width: 50em;
		position: relative;
		top: 40%;
		-webkit-transform: translateY(-40%);
		-ms-transform: translateY(-40%);
		transform: translateY(-40%); }

	div.floral { display: block; }
}

@media screen and (max-width: 35em) {
	h1 { text-align: center; }

	div.container { padding: 1.5em; }

	div.floral { display: none; }
}